<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="static/bee_icon.png"/>
  <title>BumbleSpeak</title>
  <script src="/static/js/jquery-1.11.2.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/script.css">
  <link href="http://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css"/>

  <script src="{{ url_for('static', filename='js/demo.js') }}"></script>

</head>
<body>


      <div class="header1">
      </div>
      <div class="header2" >
        <p style = "margin-left:10px">BumbleSpeak  <img id = "logo" src="static/bee_wings.png" alt="icon here" style = "margin-left:0px " > </p>
        
        
      
      </div>
      <div class="header1">
      </div>

      

      <div class="row" id="text_row">
      <div class="col-md-8" id="text_container">
        <img id = "logo2" src="static/bee_icon.png" alt="icon here" style = "margin-left:470px ; width : 250px ; height : auto ; margin-bottom: 100px" >
        <form id="phrase_form">
        <div class="input-group" id="text_input_container">
          <input type="text" id="text_input" class="form-control" placeholder="Enter phrase here to translate to Bumblebee" aria-describedby="basic-addon1">
        </form>
    </div>
      </div>
     
      </div>

      <div>
      <div style="margin-top: 148px">
      <div class="header1">
      </div>
      <div class="header2">
      </div>
      <div class="header1" >
      </div>
    </div>

  </div>
    
        


</body>
</html>